// this contains variables for colors, height, border-radius, mixins, font-sizes, etc


$primary-color: #d93d00;
$primary-bg-color:#fff8f5;
$accent-color:#29854e;
$text-color: #1f1f1f;

.gap {
    gap: 5px;
}

.gap-x {
    gap: 1rem;
}

.gap-xx {
    gap: 2rem;
}

.gap-xxx {
    gap: 4rem;
}

/* image */
.intro-image {
    width: 7rem;
}