@import "../utils/settings";

.features {

    .Community {
        height: 300px;
    }

    .colored {
        background: lightpink;
    }

    .features-item {
        padding: 10px;
        margin: 0.5rem 0;

        .small-heading {
            padding-bottom: 10px;
        }

        .image {
            width: 8rem;
        }

        .features-text {
            text-align: left;
            max-width: 30rem;
        }

    }


}

.outro {
    margin: 2rem 0;
}

.learn-more {
    background: lightpink;
    text-align: center;

    .small-heading {
        padding: 10px 0;
    }

    .primary-btn {
        background: inherit;
        margin: 10px 0;
        border: 1px solid orangered;
        color: orangered;
        margin-bottom: 4rem;
    }
}


//faq page 

.faqs {
    margin-top: 5rem;

    .question-item {
        margin: 1rem 0;
    }
}

.notfied {
    margin: 2rem 0;
}

.faq-footer {
    position: absolute;
    width: 100%;
    bottom: 0;
}


@media(min-width:760px) {



    .features {
        .colored {
            background: lightpink;
        }

        .features-item {
            padding: 10px 40px;
            margin: 0.5rem 0;
            flex-direction: row-reverse;
            justify-content: space-between;

            .small-heading {
                padding-bottom: 10px;
            }

            .image {
                width: 15rem;
            }

            .features-text {
                text-align: left;
                max-width: 30rem;
            }

        }


    }
}